<%- include('header') %>
<form method="GET" action="/quotation">
    <input name="quotation" placeholder="Dollar quotation" value="<%= quotation %>"><br>
    <input name="amount" placeholder="Dollar amount"><br>
    <button>To convert!</button>
</form>
<%-include('footer') %>