body{
    text-align: center;
}

h1 img{
    width: 500px;
    margin: 20px;
}
input{
    border: 1px solid #000000;
    background: #fdfdfd;
    font-size: 18px;
    padding: 5px;
    margin: 4px;    
}
button{
    border: 1px solid #000000;
    background: #d8d8d8;
    font-size: 18px;
    padding: 10px;
    margin: 4px; 
}
.result{
    padding: 10px;
    border: 1px solid #d8d8d8;
    background: #fdfdfd;
}